<B>TCC PUC MINAS - MAIO/2022</B><BR>
ANÁLISE DE PARCELAMENTO DE DÉBITOS INSCRITOS EM DÍVIDA ATIVA DA UNIÃO ATRAVÉS DE MACHINE LEARNING<BR>
FELIPE MARTINS<BR>

TRATAMENTO DOS ARQUIVOS DA BASE CNPJ / EMPRESA (8 DÍGITOS)

In [1]:
import pandas as pd

In [2]:
df0 = pd.read_csv("CNPJ_empresa/K3241.K03200Y0.D10510.EMPRECSV.zip", sep= ';', encoding='ISO-8859-1', usecols=[0, 2, 5], names=['CNPJ_BASICO', 'NAT_JURID', 'PORTE'], dtype={'CNPJ_BASICO':object, 'NAT_JURID':object, 'PORTE':object})   #nrows=5

In [3]:
df0.head()

  CNPJ_BASICO NAT_JURID PORTE
0    41273604      2062    01
1    41273605      2135    01
2    41273606      2135    01
3    41273607      2135    01
4    41273608      2135    01

In [4]:
df0.dtypes

CNPJ_BASICO    object
NAT_JURID      object
PORTE          object
dtype: object

In [5]:
df1 = pd.read_csv("CNPJ_empresa/K3241.K03200Y1.D10510.EMPRECSV.zip", sep= ';', encoding='ISO-8859-1', usecols=[0, 2, 5], names=['CNPJ_BASICO', 'NAT_JURID', 'PORTE'], dtype={'CNPJ_BASICO':object, 'NAT_JURID':object, 'PORTE':object})   #nrows=5

In [6]:
df2 = pd.read_csv("CNPJ_empresa/K3241.K03200Y2.D10510.EMPRECSV.zip", sep= ';', encoding='ISO-8859-1', usecols=[0, 2, 5], names=['CNPJ_BASICO', 'NAT_JURID', 'PORTE'], dtype={'CNPJ_BASICO':object, 'NAT_JURID':object, 'PORTE':object})   #nrows=5

In [7]:
df3 = pd.read_csv("CNPJ_empresa/K3241.K03200Y3.D10510.EMPRECSV.zip", sep= ';', encoding='ISO-8859-1', usecols=[0, 2, 5], names=['CNPJ_BASICO', 'NAT_JURID', 'PORTE'], dtype={'CNPJ_BASICO':object, 'NAT_JURID':object, 'PORTE':object})   #nrows=5

In [8]:
df4 = pd.read_csv("CNPJ_empresa/K3241.K03200Y4.D10510.EMPRECSV.zip", sep= ';', encoding='ISO-8859-1', usecols=[0, 2, 5], names=['CNPJ_BASICO', 'NAT_JURID', 'PORTE'], dtype={'CNPJ_BASICO':object, 'NAT_JURID':object, 'PORTE':object})   #nrows=5

In [9]:
df5 = pd.read_csv("CNPJ_empresa/K3241.K03200Y5.D10510.EMPRECSV.zip", sep= ';', encoding='ISO-8859-1', usecols=[0, 2, 5], names=['CNPJ_BASICO', 'NAT_JURID', 'PORTE'], dtype={'CNPJ_BASICO':object, 'NAT_JURID':object, 'PORTE':object})   #nrows=5

In [10]:
df6 = pd.read_csv("CNPJ_empresa/K3241.K03200Y6.D10510.EMPRECSV.zip", sep= ';', encoding='ISO-8859-1', usecols=[0, 2, 5], names=['CNPJ_BASICO', 'NAT_JURID', 'PORTE'], dtype={'CNPJ_BASICO':object, 'NAT_JURID':object, 'PORTE':object})   #nrows=5

In [11]:
df7 = pd.read_csv("CNPJ_empresa/K3241.K03200Y7.D10510.EMPRECSV.zip", sep= ';', encoding='ISO-8859-1', usecols=[0, 2, 5], names=['CNPJ_BASICO', 'NAT_JURID', 'PORTE'], dtype={'CNPJ_BASICO':object, 'NAT_JURID':object, 'PORTE':object})   #nrows=5

In [12]:
df8 = pd.read_csv("CNPJ_empresa/K3241.K03200Y8.D10510.EMPRECSV.zip", sep= ';', encoding='ISO-8859-1', usecols=[0, 2, 5], names=['CNPJ_BASICO', 'NAT_JURID', 'PORTE'], dtype={'CNPJ_BASICO':object, 'NAT_JURID':object, 'PORTE':object})   #nrows=5

In [13]:
df9 = pd.read_csv("CNPJ_empresa/K3241.K03200Y9.D10510.EMPRECSV.zip", sep= ';', encoding='ISO-8859-1', usecols=[0, 2, 5], names=['CNPJ_BASICO', 'NAT_JURID', 'PORTE'], dtype={'CNPJ_BASICO':object, 'NAT_JURID':object, 'PORTE':object})   #nrows=5

In [14]:
# CONCATENANDO OS 10 DATASETS GERADOS ACIMA
df_princ = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9])

In [15]:
df_princ.count()

CNPJ_BASICO    45811638
NAT_JURID      45811638
PORTE          45752207
dtype: int64

In [16]:
df_princ.dtypes

CNPJ_BASICO    object
NAT_JURID      object
PORTE          object
dtype: object

In [19]:
df_princ.count()

CNPJ_BASICO    45811638
NAT_JURID      45811638
PORTE          45752207
dtype: int64

In [20]:
# EXPORTANTO ARQUIVO CONCATENADO
df_princ.to_csv("01_cnpj_empresa.csv")